:root {
  --main-text-font: "Roboto";
  --logo-font: "Raleway";
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --light-theme-logo-color: #000000;
  --dark-theme-logo-color: #fff;
}

body {
  background-color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 14px;

  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  line-height: 1.17;
}
.container {
  margin: 0 auto;
  width: 1170px;
  outline: 3px solid purple;

}
.btn {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
 

}

.list {
  list-style-type: none;
  
}
.link {
  font-style: normal;

  text-decoration: none;
}

/* Хедер */
.logo {
  text-decoration: none;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;

  color: var(--light-theme-logo-color);
  line-height: 1.19;
}

.web-logo {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
}

.header .address-link {
  font-weight: 500;

  color: inherit;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.address-link:hover {
  color: var(--accent-color);
}
.nav-link:focus,
.address-link:focus {
  color: var(--accent-color);
}

/* Футер */
.footer .logo {
  color: var(--dark-theme-logo-color);
}
.footer {
  background-color: #2f303a;
}
.footer-address {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.phys-address {
  color: var(--secondary-text-color);
}

/* Герой */
.hero-title {
  /* бг для видимості */
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  color: var(--secondary-text-color);
  letter-spacing: 0.06em;
  line-height: 1.4;
}
.modal-button {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.9;
}

/* Про нас */
.title {
  font-weight: 700;
  color: var(--title-text-color);
}

.about-us-list-item .title {
  text-transform: uppercase;

  font-size: 14px;
}
.about-us-description {
  line-height: 1.74;
}
.what-we-do .title {
  font-size: 36px;
}

/* Наша команда */

.our-team .title {
  font-size: 36px;
}
.our-team-employee-name {
  font-size: 16px;
  font-weight: 500;
  
  color: var(--title-text-color);
  line-height: 1.18;
}
.our-team-employee-position {
  font-size: 16px;
  line-height: 1.18;
}
/* Наші проекти */
.project-title {
  font-weight: 700;
  font-size: 18px;

  color: var(--title-text-color);
  letter-spacing: 0.06em;
  line-height: 2;
}
.project-type {
  font-size: 16px;

  color: inherit;
  line-height: 1.9;
}
.filter-btn {
  font-size: 16px;
  font-weight: 500;

  line-height: 1.62;
}
/* тимчасово */
.everything-btn {
  background-color: var(--accent-color);

  color: var(--secondary-text-color);
}

.project-card-link {
  color: inherit;
}
